<link href="/bootstrap3/css/bootstrap.css" rel="stylesheet" />
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<form action="/register" method="POST">
    <h1>Đăng ký</h1>
    <div class="row">
        <div class="col-sm-6">
            <label>
                Email
                <input type="text" placeholder="Email" name="username" required>
            </label>
        </div>
        <div class="col-sm-6">
            <label>
                Mật khẩu 
                <input type="password" placeholder="Mật khẩu" name="password" required id="pwd">
            </label>
            <i class="fa fa-eye" id="showpwd" onclick="showPwd();"></i>
        </div>
    </div>
    <div class="row">
            <div class="col-sm-4">
                <label>
                    Giới tính
                    <input type="text" placeholder="nam, nữ" name="gender" required>
                </label>
            </div>
            <div class="col-sm-4">
                    <label>
                        Tên
                        <input type="text" placeholder="Mật khẩu" name="name" required>
                    </label>
                </div>
            <div class="col-sm-4">
                <label>
                    Tuổi
                    <input type="number" placeholder="Mật khẩu" name="age" required>
                </label>
            </div>
        </div>
    <input id="anim" type="submit" value="sign in">
</form>
<style>
    body {
        margin: 0;
        padding: 0;
        background: #252525;
        font-family: sans-serif;
        background-image: url('/img/mike.jpg');
    }
    #showpwd {
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 35%;
    }
    form {
        border-radius: 20px;
        background: #252525;
        color: #fff;
        position: absolute;
        width: 60%;
        height: 400px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    form h1 {
        text-align: center;
        border-bottom: 3px solid orangered;
        padding-bottom: 20px;
    }

    #button {
        display: none;
    }

    input {
        display: block;
        margin: 20px auto;
        background: transparent;
        padding: 5px 10px;
        display: block;
        font-size: 20px;
        width: 180px;

        text-align: center;
        border: 3px solid orangered;
        outline: none;
        color: #fff;
        transition: 0.90s;
        border-radius: 20px;
    }

    input[type=submit] {
        cursor: pointer;
    }

    input:focus {
        transition: 900ms;
        font-size: 20px;
        width: 250px;
        trnsform: scale(1.1);
        border: 3px solid lightblue;
    }

    label {
        display: block;
        text-align: center;

    }

    #anim {
        animation: bg 2s infinite;
    }

    @keyframes bg {
        0% {
            background: orangered;
        }

        5% {
            background: transparent
        }

        100% {
            background: orangered;
        }
    }

    #reg_div {
        text-align: center;
    }

    #reg_div a {
        text-decoration: none;
        color: white;
    }
</style>
<script src="/js/jquery-1.10.2.js" type="text/javascript"></script>
<script src="/js/jquery-ui-1.10.4.custom.min.js" type="text/javascript"></script>
<script src="/bootstrap3/js/bootstrap.js" type="text/javascript"></script>
<script>
    function showPwd() {
        var a = document.getElementById("pwd");
        if (a.type === "password") {
            a.type = "text";
        } else {
            a.type = "password";
        }
    }
</script>